{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'files/css/style.css' %}">
{% endblock %}

{% block content %}

{% for video in object_list %}
<div class="all-section">
  <div class="card mb-3">
    <img class="p-5" src="{{ video.file.url }}" alt="..."><br>
    <div class="card-body">
      {% if video.text %}
      <p class="card-text text-dark text-center fs-2  ">{{ video.text }}</p>
      {% endif %}
      <p class="card-text"><small class="text-muted">{{ video.time }}</small></p>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}