{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'files/css/style.css' %}">
{% endblock %}

{% block content %}

<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'files/img/back.jpg' %}" alt="..." /></div>
      <div class="col-lg-5">
          <h1 class="font-weight-light">Upload Your File </h1><hr>
        {% if request.user.is_anonymous %}
          <p class="alert bg-danger" >Please login to access your account</a>
        {% else %}
        <p class="alert bg-success">Welcome {{request.user}}</p>
        {% endif %}
      </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-2 text-center">
      <div class="card-body"><p class="text-white m-0">
        for more security enable your 2-step password
      </p></div>
  </div>
  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5 text-dark">
      <div class="col-md-4 mb-5">
          <div class="card h-100 back-color">
              <div class="card-body">
                  <h2 class="card-title">Video <li class="fas fa-video"></li></h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card h-100 back-color">
              <div class="card-body">
                  <h2 class="card-title">Image <li class="fas fa-image"></li></h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card h-100 back-color">
              <div class="card-body">
                  <h2 class="card-title">Note <i class="fas fa-pen text-dark"></i></h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
          </div>
      </div>
  </div>
</div>
    



    
{% endblock %}
