{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'files/css/style.css' %}">
{% endblock %}

{% block content %}

<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'files/img/back.jpg' %}" alt="..." /></div>
      <div class="col-lg-5">
          <h1 class="font-weight-light text-center">Upload Your File </h1><hr>
        {% if request.user.is_anonymous %}
          <p class="alert bg-danger" >Please login to access your account</a>
        {% else %}



        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div  {% if message.tags %} class=" {{ message.tags }} alert bg-success set-message" {% endif %}> {{ message }} </div>
            {% endfor %}
        </ul>
        {% endif %}


        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert bg-danger text-center ">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger text-center mt-3">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}


      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="file" class="size-icon fas fa-upload  upload-section"></label>
                {{form.file}}
                {{form.text}}
                <input type="submit" class=" btn upload-text" value="UPLOAD">
            </form>

        {% endif %}
      </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-2 text-center">
      <div class="card-body"><p class="text-white m-0">
        for activate your 2-factor authentication <a href="" class="text-warning">Click Hear</a>
      </p></div>
  </div>
  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5 text-dark">
      <div class="col-md-6 mb-5">
          <div class="card h-100 back-color">
              <div class="card-body">
                  <h2 class="card-title">Your Last Videos <li class="fas fa-video"></li></h2>
              </div>
              {% if request.user.is_authenticated %}
                {% if videos.file %}
              <div class="last-videos">
                    <video muted  controls="controls" preload="preload" class="img-fluid shadow-sm img-thumbnail">
                        <source src="{{ videos.file.url }}" type="video/mp4"></source>
                    </video>
                </div>
                {% endif %}
            {% endif %}
                
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'file:video' %}">see all video</a></div>
          </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="card h-100 back-color">
            <div class="card-body">
                <h2 class="card-title">Your Last Images <li class="fas fa-image"></li></h2>
            </div>
            {% if request.user.is_authenticated %}
            {% if images.file %}
            <div>
                <img src="{{images.file.url}}" alt="..." class="images-last">
            </div>
            {% endif %}
            {% endif %}
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">see all image</a></div>
        </div>
    </div>
  </div>
</div>


{% endblock %}
